<div class="mt-lg-5">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Lead Generation & Data Services</h2>
        <p>We provide our B2B clients with proven marketing services. We take your best material and deliver it directly
            to an engaged audience actively looking for information on your solutions. We also help you keep up
            consistently with demands of creating relevant, insightful, useful content, enabling you to measure every
            click and conversion, ensuring that your efforts deliver the right results.
            B2B Lead Generation, Demand generation, List Management, List Development, Digital Marketing, Email
            Marketing, Account Based Marketing, Telemarketing, Content Syndication, Pay for Performance, base targeting.
            We handle online projects in every aspect starting from survey programming of simple to complex logic.

            Desk Research
            We offer the most authentic business desk research solutions for market definition, customer satisfaction,
            product evaluation, and many more with a highly skilled and qualified team.
            With our wide network, we guarantee your survey is translated local professionals with knowledge, accuracy,
            and expertise.
        </p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-graph-up-arrow icon"></i></div>
                    <h4><a href="service-details.html" class="stretched-link">Data Analysis</a></h4>
                    <p>Maximize Visibility and Reach the Right Audience with RudraKonnect</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-file-earmark-bar-graph icon"></i></div>
                    <h4><a href="service-details.html" class="stretched-link">Data Reporting</a></h4>
                    <p>We boost your sales with targeted prospect databases and tech-driven marketing services to
                        maximize customer engagement</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-bar-chart-line icon"></i></div>
                    <h4><a href="service-details.html" class="stretched-link">Web Analytics</a></h4>
                    <p>RudraKonnect helps leaders of high-tech companies market their business effectively, by running
                        B2B technology programs each month to generate interest</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item position-relative">
                    <div class="icon"><i class="bi bi-search icon"></i></div>
                    <h4><a href="service-details.html" class="stretched-link">SEO Suggestions</a></h4>
                    <p>RudraKonnect works with global marketing companies to deliver top quality bespoke programs for
                        their clients</p>
                </div>
            </div><!-- End Service Item -->


        </div>

    </div>


</div>