<div class="container-fluid ">
  <div class="row gy-4 align-items-center">
    <!-- Headline and Image Row -->
    <div class="col-lg-6" data-aos="fade-up">
      <h1 class="mb-3">Intelligent Demand Generation for B2B Marketers</h1>
    </div>
    <div class="col-lg-6 text-end" data-aos="zoom-out" data-aos-delay="200">
      <img src="./assets/img/hero-img.svg" class="img-fluid animated" alt="Hero Image">
    </div>
  </div>

  <!-- Full-Width Text Row -->
  <div class="row mt-4">
    <div class="col-12">
      <p class="fw-bold mb-2">We are RudraKonnect</p>
      <p>
        Our services include end-to-end field solutions with sampling, survey programming, data processing, data analysis, and translations.
        We are always proactive in our approach, providing the best project management services with the simplest integrations possible to keep our clients at ease.
        We have an adequate number of verified panelists in our database who are highly active and responsive. Our panel management process follows the best methodologies and quality measures.
        Quality leads are the lifeblood of any B2B company, but coming up with new ideas to increase leads can be a challenge. We drive volume to keep your funnel full while maintaining consistent quality.
        Together with our select industry partners, we directly connect with over millions of respondents in over 30 countries, focusing on Consumers and B2B Decision Makers/Influencers.
        We are an emerging online research company connecting millions of audiences to researchers to solve their queries and get the best out of their investments.
      </p>
      <div class="d-flex mt-3">
        <a routerLink="" fragment="about" class="btn-get-started btn btn-primary me-3">Get Started</a>
      </div>
    </div>
  </div>
</div>
