<div class="mt-lg-5">
  <div class="container">
    <div class="row gy-3">

      <!-- Left Column with Image -->
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <img src="./assets/img/about-img.svg" alt="RudraKonnect" class="img-fluid">
      </div>
      <!-- Right Column with Content -->
      <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="about-content ps-0 ps-lg-3">
          <h4>We are RudraKonnect</h4>
          <p >
            Whether it's brand awareness, product launches, or service promotions, RudraKonnect has you covered. Our demand generation programs help you get more visibility and attract attention from the right audience.
          </p>
          
          <ul>
            <li>
              <i class="bi bi-diagram-3"></i>
              <div>
                <h4>B2B Demand Generation</h4>
                <p>We help high-tech leaders market their business by running B2B technology programs that generate interest.</p>
              </div>
            </li>
            <li>
              <i class="bi bi-fullscreen-exit"></i>
              <div>
                <h4>Tailored Technology Marketing</h4>
                <p>We mobilize your sales by building precise prospect databases and providing services that maximize customer engagement opportunities.</p>
              </div>
            </li>
          </ul>
          
          <p>
            RudraKonnect works with global marketing companies to deliver top-quality, bespoke programs for their clients.
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
